{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
    <link rel="icon" href="{% static 'images/dengue.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage_style.css' %}">
    <title>Clima e Dengue</title>
</head>

<body>

    {% include 'partials/header.html' %}

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Campos do Jordão</h1>
            </div>
        </section>

        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Dados Usados</h3>
            <img class="" src="{% static 'images/CAMPOSDEJORDAODATA.png' %}">

            <h3 class="conteudo-secundario-titulo">Matriz de correlação</h3>
            <img class="" src="{% static 'images/CAMPOSDEJORDAO.png' %}">
            
            <h3 class="conteudo-secundario-titulo">Conclusão</h3>
            <p>
                Nenhuma variável apresenta correlação forte, pois no caso de Campos do Jordão existiram poucos casos de dengue em 2024 (Apenas 1!) mas há leve tendência de menos casos com mais vento e menos chuva. 
            </p>

            <button class="conteudo-principal-escrito-botao">
                    <a href="{% url 'resultado_bonifacio' %}" class="conteudo-principal-escrito-botao-link">
                        Próxima cidade
                    </a>
                </button>
        </section>

    </main>

    {% include 'partials/footer.html' %}
</body>

</html>